.container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - env(safe-area-inset-bottom));
    flex-grow: 1;
}

.light {
    background-color: #FFFFFF;
}

.dark {
    background-color: #0F172A;
}
