.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

@media screen and (max-width: 768px) and (hover: none) and (pointer: coarse) and (-webkit-min-device-pixel-ratio: 0) {
    .container {
        height: 80vh;
    }
}

.light {
    background-color: #FFFFFF;
}

.dark {
    background-color: #0F172A;
}
