.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
    overflow-y: auto;
}

.light {
    background-color: #FFFFFF;
}

.dark {
    background-color: #0F172A;
}
